mat-card {
    cursor: pointer;
    justify-content: center;
}
mat-divider {
    border-color: #afafaf;
}
mat-button-toggle-group {
    margin-left: 10px;
}
mat-slide-toggle {
    margin-left: auto;
    padding: 0 40px;
}
img {
    width: 100%;
}
  
.selected {
    background-color: rgb(235, 235, 235);
    font-weight: 700;
}

.theme-title {
    white-space: pre-wrap;
}