<form #themeForm="ngForm">
  <h4>Theme Options</h4>
  <p>
    <mat-form-field>
      <mat-label>Theme level</mat-label>
      <mat-select [(value)]="themeLevel">
        <mat-option value="global">Global</mat-option>
        <mat-option value="service">Service</mat-option>
        <mat-option value="song">Song</mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>Theme</mat-label>
      <mat-select [(value)]="theme" [disabled]="!isThemeLevelSupported()">
        <mat-option *ngFor="let theme of themeList" [value]="theme.name">{{ theme.name }}</mat-option>
      </mat-select>
      <mat-error *ngIf="!isThemeLevelSupported()">Song level theme changing not yet supported. Change your theme level to Global or Service</mat-error>
    </mat-form-field>
  </p>
</form>
