<mat-card class="no-select" mat-list-item *ngFor="let slide of slides; let counter = index;" (click)="onSlideSelected(counter)" [class.selected]="slide.selected">
  <div class="verse-tag">{{ slide.tag }}</div>
  <div *ngIf="slide.img; else onlySlideText" class="verse-img-container">
    <img src="{{ slide.img }}" />
    <div class="img-verse-text">
      {{ slide.text }}
    </div>
  </div>
  <ng-template #onlySlideText>
    <div class="verse-text">{{ slide.text }}</div>
  </ng-template>
</mat-card>
