<h3>Search</h3>
<form>
<label>Search for:</label>
<mat-form-field>
<mat-select [(ngModel)]="selectedPlugin" name="selectedPlugin">
  <mat-option *ngFor="let plugin of searchPlugins" name="searchPlugins" [value]="plugin.key">
    {{plugin.name}}
  </mat-option>
</mat-select>
</mat-form-field>
<br>
<mat-form-field>
  <input matInput [(ngModel)]="searchText" name="searchText" placeholder="Search Text">
</mat-form-field>
  <br>
<button mat-raised-button color="warn" (click)="onSubmit()">Search</button>
</form>
<div *ngIf="searchResults">
  <h3>Search Results:</h3>
  <table>
    <tr *ngFor="let item of searchResults">
      <td>{{item[1]}}</td>
      <td><button mat-button color="primary" (click)="addToService(item[0])">Add</button></td>
      <td><button mat-button color="accent" (click)="sendLive(item[0])">Send Live</button></td>
    </tr>
  </table>
</div>