<div class="overlay">
  <div>
    <div class="tags">
      <span *ngFor="let tag of tags" [class.active]="tag.active">{{ tag.text }}</span>
    </div>
    <div class="container">
      <div class="slide currentSlide mat-display-3">
        <div *ngIf="currentSlides[activeSlide]?.img; else elseActiveSlideText">
          <img src="{{currentSlides[activeSlide]?.img}}" class="active-slide-img" />
          <div class="active-slide-img-text">{{ currentSlides[activeSlide]?.text }}</div>
        </div>
        <ng-template #elseActiveSlideText>
          {{ currentSlides[activeSlide]?.text }}
        </ng-template>
      </div>
      <div class="nextSlides">
        <div class="slide mat-display-1" [class.first]="slide.first_slide_of_tag" *ngFor="let slide of nextSlides">
          <div *ngIf="slide.img; else elseNextSlidesText">
            <img src="{{slide.img}}" class="next-slides-img" />
            <div class="next-slides-text">{{ slide.text }}</div>
          </div>
          <ng-template #elseNextSlidesText>
            {{ slide.text }}
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar">
    <div class="top">
      <div class="time">{{ (openlpService.getIsTwelveHourTime()) ? (time|date:'h:mm a') : (time|date:'HH:mm') }}</div>
      <div class="notes" [innerHTML]="notes|nl2br"></div>
    </div>
    <div class="close"><button mat-raised-button class="closeButton" routerLink="/">Close</button></div>
  </div>
</div>
